body {
    margin: 0;
    background-image: url('https://m.media-amazon.com/images/G/01/music-find/4723/2020_GL_LP_Thumbnails_Playlists_2016x288.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.flex-container{
    display: flex;
    justify-content: flex-end;
    height: 100vh;
}

.prompt-box {
    flex: 0 0 40%;
    background-color: rgb(202, 235, 236, 0.5) !important;
    border: rgb(148, 213, 215) 1px solid !important;
    border-radius: 50px;
    padding: 2rem;
    margin: 2rem;
}